/* Code généré sur un site pour rendre la taille des textes responsive
les step-x seront utilisés en font-size */
:root {
    --step--2: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
    --step--1: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
    --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
    --step-2: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
    --step-3: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
    --step-4: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
    --step-5: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);
    }

/* Importation et utilisation de la police */
@font-face {
    font-family: Chelsea;
    src: url(/ressourcesChelsea.ttf)
}

* {
    font-family: Chelsea;
}

/* Suppression de l'effet souligné des liens */
a {
    text-decoration: none;
}

/* Corps de la page et image de fond */
body {
    margin-left: 100px;
    margin-right: 100px;
    background-image: url("/ressources/images/salledeciné.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Mise en forme nom du film (élément principal de la page) */
h1 {
    color: rgb(34, 245, 2);
    font-size: var(--step-5);
    text-align: center;
}

/* Mise en forme des balises <p> */
p {
    color: white;
    font-size: var(--step-2);
    text-align: center;
}

/* Mise en forme du bouton retour */
#bouton {
    background-color: #da1111;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--step-2);
    color: rgb(2, 2, 2);
    display: inline-block;
    margin-right: 20px;
}

/* Effet survol curseur */
#bouton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#affiche {
    max-width: 25%;
    height: auto;
    margin: auto;
    display: block;
}

/* 
*** Footer ***
Gère la mise en forme du bas de page
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border: solid 4px rgb(3, 212, 3);
    border-radius: 20px;
    margin-top: 20px;
}

footer p {
    color: rgb(247, 4, 4);
    margin-left: 50px;
    margin-right: 50px;
}

/* 
*** Responsive ***
Media queries qui vont agencer/modifier certains éléments différement en fonction de la largeur de la page
Afin de s'adapter à des appareils moins larges ( tablettes, téléphones )
*/

@media (max-width: 700px) {
    #planet1 {
        opacity: 0;
    }
    #planet2 {
        opacity: 0;
    }
}