/* 
*** Général ***
*/

:root {
    --step--2: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
    --step--1: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
    --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
    --step-2: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
    --step-3: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
    --step-4: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
    --step-5: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);
    }

@font-face {
    font-family: Chelsea;
    src: url(/ressources/Chelsea.ttf)
}

* {
    font-family: Chelsea;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-image: url("/ressources/images/oldcine.jpg");
    background-size: contain;
    background-repeat: repeat;
}

p {
    font-size: var(--step-1);
}

a {
    text-decoration: none;
}

/* 
*** Header ***
*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 25%;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 20px;
    text-align: center;
    background-color: #121212;
    color: rgb(2, 2, 2);
    font-size: var(--step-4);
    border: 3px solid transparent; 
    border-radius: 8px; 
    padding: 10px; 
    background: linear-gradient(45deg, #ff00ff, #00ffff, #ffcc00, #ff0066, #66ff00); /* Dégradé de couleurs */
    background-size: 400% 400%; /* Taille du dégradé */
    animation: h1-animation 2s ease infinite; /* Animation de clignotement */
}

@keyframes h1-animation {
    0% {
        background-position: 0% 50%; /* Position initiale */
    }
    50% {
        background-position: 100% 50%; /* Position médiane */
    }
    100% {
        background-position: 0% 50%; /* Position finale */
    }
}

/* 
*** Navbar ***
*/

#barreNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 50px;
    background-color: transparent;
    border-radius: 20px;
    margin-bottom: 30px;
}

.glow-on-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    outline: none;
    color: #bc04ef;
    background: #121212;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    font-size: var(--step-1);
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #7A00FF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #bc04ef;
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
    transform: scale(1.2);
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #121212;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* 
*** Main ***
*/

main {
    background-color: #121212;
    color: #fff;
    border: 6px solid red;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    padding: 7px 7px 7px 12px;
}

.affiche {
    height: auto;
    max-width: 15%;
    object-fit: contain;
}

.affiche:hover {
    height: auto;
    max-width: 15%;
    object-fit: contain;
    transform: scale(1.1);
}

.bloctexte {
    margin-left: 60px;
    margin-bottom: 50px;
}

#nomFilm {
    color: #FF0000;
    font-size: var(--step-3);
}

#categFilm {
    color: #f38304;
}

#lien {
    background-color: #da1111;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--step-2);
    color: rgb(2, 2, 2);
    display: inline-block;
    margin-right: 20px;
}

#lien:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#lien2 {
    background-color: #da1111;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--step-2);
    color: rgb(2, 2, 2);
    display: inline-block;
}

#lien2:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* 
*** Footer ***
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border: solid 4px rgb(3, 212, 3);
    border-radius: 20px;
    margin-top: 20px;
}

footer p {
    color: rgb(247, 4, 4);
    margin-left: 50px;
    margin-right: 50px;
}

/* 
*** Responsive ***
*/

@media (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .affiche {
        margin: auto;
        max-width: 30%;
    }
}

@media (max-width: 700px) {
    #lien {
        font-size: var(--step-0);
        margin-bottom: 15px;
    }
    #lien2 {
        font-size: var(--step-0);
    }
}

@media (max-width: 500px) {
    #lien {
        font-size: var(--step--2);
        margin-bottom: 15px;
    }
    #lien2 {
        font-size: var(--step-0);
    }
}
